/* Loading Page */

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0.7;
  color: rgb(255, 102, 0);
  background-color: rgb(25, 31, 38);
  z-index: 99;
  text-align: center;
}

#loading-image {
  z-index: 100;
  display: block;
  width: 40vw;
  margin: 20vh auto;
}

/* END Loading Page */

html,
body,
#mapId {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  padding-top: 4.5rem;
}

.caption {
  color: #6c757d;
}

.caption span {
  color: white;
  font-weight: 600;
}

#countryFlag {
  min-height: 25px;
  min-width: 50px;
  height: 25px;
}

/* Leaflet override */

.popupCity .leaflet-popup-tip,
.popupCity .leaflet-popup-content-wrapper {
  background-color: rgb(52, 58, 64);
  color: white;
  max-width: "400px";
  width: "200px";
  font-size: .9rem;
}

.popupCapital .leaflet-popup-tip,
.popupCapital .leaflet-popup-content-wrapper {
  background-color: #f8f9fa;
  color: #212529;
  max-width: "400px";
  width: "200px";
  font-size: .9rem;
}

/* Bootsrap override */

#collapseCountryInfo.collapse,
#collapseCountryInfo.collapsing {
  background-color: rgb(52, 58, 64);
  color: white;
}

#collapseCountryInfo .btn-outline-light,
#navbar .btn-outline-light {
  border: 0;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.modal-content {
  background-color: rgb(52, 58, 64);
  color: white;
}

.modal-content .close {
  text-shadow: none;
}

.carousel-inner button {
  width: 99%;
}

/* Color scheme for Navbar */
#navbar.navbar {
  background-color: #d8d3cd;
}

.navbar-toggler {
  background-color: #797a7e;
}

input#countrySearch {
  background-color: #797a7e;
  color: #d8d3cd;
}

#countrySearch::placeholder {
  color: rgba(255,255,255, 0.5);
}

input#countrySearch:focus {   
  border-color: #797a7e;
  background-color: #797a7e;
  color: #d8d3cd;
  box-shadow: 0 0 0 0.2rem rgba(121,122,126,0.25);
  outline: 0;
}

input#countrySearch:-webkit-autofill,
input#countrySearch:-webkit-autofill:hover, 
input#countrySearch:-webkit-autofill:focus {
  -webkit-text-fill-color: #d8d3cd;
  caret-color: #d8d3cd;
  transition: background-color 500s ease-in-out 0s;
}

/* END Color scheme for Navbar */

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(52, 58, 64);
} */
